* {
    background-color: azure;
    margin: 0px;
    font-family:Arial, Helvetica, sans-serif;
}

nav {
    text-align: end;
    padding: 40px 50px;
}

ul {
    list-style: none;
    font-size: 25px;
}

li {
    display: inline-block;
    padding: 20px;
    position: relative;
}

.dot {
    color:lightgrey
}

#projects::before {
    content: attr(data-tooltip);
    position: absolute;
    top: 0px;
    right: -25px;
    width: max-content;
    font-size: 12px;
    background-color: black;
    color: white;
    text-align: center;
    z-index: 1;
    padding: 5px 10px;
    border-radius: 12px;
    clip-path: circle(0rem at center);
    overflow: hidden;
    transition: 300ms all ease-in;
}

#projects:hover::before {
    clip-path: circle(20rem at center); 
    top: -10%;
}


